@media (min-width: 576px) {
  .authenticate {
    .signUpContainer {
      border-top: #132330 1px solid;
      border-left: 0;
      padding: 40px;
    }

    .container {
      padding: 40px;
    }
  }
}
